# Copy from https://github.com/huggingface/pytorch-transformers

# PyTorch
#torch==1.9.0+cu102
# Progress bars in model download and training scripts
tqdm
# Accessing files from S3 directly.
boto3
# Used for downloading models over HTTP
requests

pandas==1.5.3

transformers

matplotlib

tensorboard

opencv-python

wget

setuptools==59.5.0

gym[atari]

scikit-learn